/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* HEADER */
.header {
    background-color: #3A73C1;
    color: white;
    text-align: center;
    padding: 22px;
    font-size: 28px;
    font-weight: bold;
}

/* GRID LAYOUT */
.container {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 40px;
    justify-items: center;
}

/* Card */
.card {
    width: 300px;
    background-color: #3A73C1;
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-align: left;
}

/* Image Style */
.image-box {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #ddd;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.card a {
    color: #fff;
    text-decoration: underline;
}

/* FOOTER */
.footer {
    background-color: #3A73C1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 20px;
}
